<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <style>


    </style>
</head>
<body>























<!--<div th:replace="~{fragments/head_fragment :: head(pageTitle='Главная страница')}"></div>

<div class="logo">
    <a href="#" class="dd">Библиотека</a>
</div>


<footer>
    <div class="footer-content">
        <p>&copy; 2025 Библиотека. Все права защищены.</p>
        <nav class="footer-nav">
            <a href="#">Условия использования</a>
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Поддержка</a>
        </nav>
    </div>
</footer>
<th:block th:replace="~{/fragments/script_fragment :: scripts}"></th:block>
-->


</body>
</html>